// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fff;
    font-family: 'PT Serif', serif;
    font-weight: 200;
    height: 100vh;
}

.full-height {
    height: 100vh;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.right-nav {
    font-family: 'Open Sans', sans-serif;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}
.sm-title {
    font-size: 30px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.image {
    width: 100%;
}

.img-show {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}